<div id="header"></div>

<h1 style="font-size:50px;"><center>Editing Student</center></h1>

<div align="center" style="background-color:#ff9999; width:100%;">
<p><br></p>
<center>
<%= render 'form' %>
</center>
<p><br></p>
</div>

<center>
<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
</center>
