<p><center><br>
<h1 style="font-size:50px;">New Student</h1>
</p></center>

<div align="center" style="background-color:#ff9999; width:100%;">
<p><center><br>
<%= render 'form' %>
</p></center>
</div>
<p><center><br>
<%= link_to 'Back', students_path %>
</p></center>
